{% extends 'base.html' %}
{% block title %}Create New Campaign{% endblock %}

{% block content %}
<form action="" method="POST">
	{{ form.hidden_tag() }}
	<fieldset class="form-group">
		<legend class="border-top border-bottom mb-4">Create New Campaign</legend>
		<div class="form-group">
			{{ form.name.label(class="form-control-label") }}
			{% if form.name.errors %}
			{{ form.name(class="form-control form-control-lg is-invalid") }}
			<div class="invalid-feedback">
				{% for error in form.name.errors %}
				<span>{{ error }}</span>
				{% endfor %}
			</div>
			{% else %}
			{{ form.name(class="form-control form-control-lg") }}
			{% endif %}
		</div>
	</fieldset>
	<div class="form-group">
		{{ form.submit(class="btn btn-success") }}
	</div>
</form>
{% endblock %}
