{% extends 'base.html' %}
{% block title %}Edit Player Characters of "{{ campaign.name }}"{% endblock %}

{% block content %}
<a class="btn btn-secondary" href="/campaign/location/{{campaign_id}}/create">Create Location 🏗🌄</a>
<form action="" method="POST">
	{{ form.hidden_tag() }}
	<fieldset class="form-group">
		<legend class="border-top border-bottom mb-4">Edit Player Characters of "{{ campaign.name }}"</legend>
		<div class="form-group">
			{{ form.name.label(class="form-control-label") }}
			{% if form.name.errors %}
			{{ form.name(class="form-control form-control-lg is-invalid") }}
			<div class="invalid-feedback">
				{% for error in form.name.errors %}
				<span>{{ error }}</span>
				{% endfor %}
			</div>
			{% else %}
			{{ form.name(class="form-control form-control-lg") }}
			{% endif %}
		</div>
		<div class="alert alert-info">To add players to your campaign, you need their ID (the number part of the URL of
			their character sheet) and their secret code. This code is only visible to the owner of the character, so
			you must ask them to send it to you.</div>
		<div class="form-group row">
			<div class="col">
				{{ form.character1.label(class="form-control-label") }}
				{{ form.character1(class="form-control form-control-lg") }}
			</div>
			<div class="col">
				{{ form.char1uid.label(class="form-control-label") }}
				{{ form.char1uid(class="form-control form-control-lg") }}
			</div>
		</div>
		<div class="form-group row">
			<div class="col">
				{{ form.character2.label(class="form-control-label") }}
				{{ form.character2(class="form-control form-control-lg") }}
			</div>
			<div class="col">
				{{ form.char2uid.label(class="form-control-label") }}
				{{ form.char2uid(class="form-control form-control-lg") }}
			</div>
		</div>
		<div class="form-group row">
			<div class="col">
				{{ form.character3.label(class="form-control-label") }}
				{{ form.character3(class="form-control form-control-lg") }}
			</div>
			<div class="col">
				{{ form.char3uid.label(class="form-control-label") }}
				{{ form.char3uid(class="form-control form-control-lg") }}
			</div>
		</div>
		<div class="form-group row">
			<div class="col">
				{{ form.character4.label(class="form-control-label") }}
				{{ form.character4(class="form-control form-control-lg") }}
			</div>
			<div class="col">
				{{ form.char4uid.label(class="form-control-label") }}
				{{ form.char4uid(class="form-control form-control-lg") }}
			</div>
		</div>
		<div class="form-group row">
			<div class="col">
				{{ form.character5.label(class="form-control-label") }}
				{{ form.character5(class="form-control form-control-lg") }}
			</div>
			<div class="col">
				{{ form.char5uid.label(class="form-control-label") }}
				{{ form.char5uid(class="form-control form-control-lg") }}
			</div>
		</div>
		<div class="form-group row">
			<div class="col">
				{{ form.character6.label(class="form-control-label") }}
				{{ form.character6(class="form-control form-control-lg") }}
			</div>
			<div class="col">
				{{ form.char6uid.label(class="form-control-label") }}
				{{ form.char6uid(class="form-control form-control-lg") }}
			</div>
		</div>
	</fieldset>
	<div class="form-group">
		{{ form.submit(class="btn btn-success") }}
		<a class="btn btn-danger" href="/campaign/view/{{campaign_id}}">Cancel</a>
	</div>
</form>
{% endblock %}
