{% extends 'base.html' %}
{% block title %}Edit "{{ location.name }}" Location in "{{ campaign.name }}"{% endblock %}

{% block content %}
<div class="row">
	<a class="btn btn-secondary" href="/location/scene/{{location.id}}/create">Create Scene in Location 🎭</a>&nbsp;
	<a class="btn btn-danger" href="{{ url_for('.delete_campaign_location', location_id=location.id) }}">Delete</a>
</div>
<form action="" method="POST">
	{{ form.hidden_tag() }}
	<fieldset class="form-group">
		<legend class="border-top border-bottom mb-4">Edit "{{ location.name }}" Location in "{{ campaign.name }}"
		</legend>
		<div class="form-group">
			{{ form.name.label(class="form-control-label") }}
			{% if form.name.errors %}
			{{ form.name(class="form-control form-control-lg is-invalid") }}
			<div class="invalid-feedback">
				{% for error in form.name.errors %}
				<span>{{ error }}</span>
				{% endfor %}
			</div>
			{% else %}
			{{ form.name(class="form-control form-control-lg") }}
			{% endif %}
		</div>
		<div class="form-group">
			{{ form.description.label(class="form-control-label") }}<small class="text-muted">(This text
				<strong>is</strong> shown to players when the location is active.)</small>
			{{ form.description(class="form-control form-control-lg") }}
		</div>
	</fieldset>
	<div class="form-group">
		{{ form.submit(class="btn btn-success") }}
		<a class="btn btn-danger" href="/campaign/location/view/{{location.id}}">Cancel</a>
	</div>
</form>
{% endblock %}
