{% extends 'base.html' %}
{% block title %}Edit "{{ npc.name }}" NPC in "{{ scene.name }}"{% endblock %}

{% block content %}
<div class="row">
	{# {{ url_for('.copy_scene_npc', npc_id=npc.id) }} #}
	<a class="btn btn-secondary">Copy</a>&nbsp;
	<a class="btn btn-secondary">Move</a>&nbsp;
	<a class="btn btn-danger" href="{{ url_for('.delete_scene_npc', npc_id=npc.id) }}">Delete</a>
</div>
<div class="row">&nbsp;</div>
<div class="col-lg-12">
	<form action="" method="POST">
		{{ form.hidden_tag() }}
		<fieldset class="form-group">
			<legend class="border-top border-bottom mb-4">Edit "{{ npc.name }}" NPC in "{{ scene.name }}"</legend>
			<div class="form-group">
				{{ form.name.label(class="form-control-label") }}
				{% if form.name.errors %}
				{{ form.name(class="form-control form-control-lg is-invalid") }}
				<div class="invalid-feedback">
					{% for error in form.name.errors %}
					<span>{{ error }}</span>
					{% endfor %}
				</div>
				{% else %}
				{{ form.name(class="form-control form-control-lg") }}
				{% endif %}
			</div>
			<div class="form-group">
				{{ form.description.label(class="form-control-label") }}
				{% if form.description.errors %}
				{{ form.description(class="form-control form-control-lg is-invalid") }}
				<div class="invalid-feedback">
					{% for error in form.description.errors %}
					<span>{{ error }}</span>
					{% endfor %}
				</div>
				{% else %}
				{{ form.description(class="form-control form-control-lg") }}
				{% endif %}
			</div>
			<div class="form-group">
				{{ form.hit_points.label(class="form-control-label") }}
				{% if form.hit_points.errors %}
				{{ form.hit_points(class="form-control form-control-lg is-invalid") }}
				<div class="invalid-feedback">
					{% for error in form.hit_points.errors %}
					<span>{{ error }}</span>
					{% endfor %}
				</div>
				{% else %}
				{{ form.hit_points(class="form-control form-control-lg") }}
				{% endif %}
			</div>
			<div class="form-group">
				{{ form.max_hit_points.label(class="form-control-label") }}
				{% if form.max_hit_points.errors %}
				{{ form.max_hit_points(class="form-control form-control-lg is-invalid") }}
				<div class="invalid-feedback">
					{% for error in form.max_hit_points.errors %}
					<span>{{ error }}</span>
					{% endfor %}
				</div>
				{% else %}
				{{ form.max_hit_points(class="form-control form-control-lg") }}
				{% endif %}
			</div>
			<div class="form-group">
				{{ form.armour_class.label(class="form-control-label") }}
				{% if form.armour_class.errors %}
				{{ form.armour_class(class="form-control form-control-lg is-invalid") }}
				<div class="invalid-feedback">
					{% for error in form.armour_class.errors %}
					<span>{{ error }}</span>
					{% endfor %}
				</div>
				{% else %}
				{{ form.armour_class(class="form-control form-control-lg") }}
				{% endif %}
			</div>
			<div class="form-group">
				{{ form.passive_perception.label(class="form-control-label") }}
				{% if form.passive_perception.errors %}
				{{ form.passive_perception(class="form-control form-control-lg is-invalid") }}
				<div class="invalid-feedback">
					{% for error in form.passive_perception.errors %}
					<span>{{ error }}</span>
					{% endfor %}
				</div>
				{% else %}
				{{ form.passive_perception(class="form-control form-control-lg") }}
				{% endif %}
			</div>
			<div class="form-group">
				{{ form.constitution.label(class="form-control-label") }}
				{% if form.constitution.errors %}
				{{ form.constitution(class="form-control form-control-lg is-invalid") }}
				<div class="invalid-feedback">
					{% for error in form.constitution.errors %}
					<span>{{ error }}</span>
					{% endfor %}
				</div>
				{% else %}
				{{ form.constitution(class="form-control form-control-lg") }}
				{% endif %}
			</div>
			<div class="form-group">
				{{ form.strength.label(class="form-control-label") }}
				{% if form.strength.errors %}
				{{ form.strength(class="form-control form-control-lg is-invalid") }}
				<div class="invalid-feedback">
					{% for error in form.strength.errors %}
					<span>{{ error }}</span>
					{% endfor %}
				</div>
				{% else %}
				{{ form.strength(class="form-control form-control-lg") }}
				{% endif %}
			</div>
			<div class="form-group">
				{{ form.dexterity.label(class="form-control-label") }}
				{% if form.dexterity.errors %}
				{{ form.dexterity(class="form-control form-control-lg is-invalid") }}
				<div class="invalid-feedback">
					{% for error in form.dexterity.errors %}
					<span>{{ error }}</span>
					{% endfor %}
				</div>
				{% else %}
				{{ form.dexterity(class="form-control form-control-lg") }}
				{% endif %}
			</div>
			<div class="form-group">
				{{ form.wisdom.label(class="form-control-label") }}
				{% if form.wisdom.errors %}
				{{ form.wisdom(class="form-control form-control-lg is-invalid") }}
				<div class="invalid-feedback">
					{% for error in form.wisdom.errors %}
					<span>{{ error }}</span>
					{% endfor %}
				</div>
				{% else %}
				{{ form.wisdom(class="form-control form-control-lg") }}
				{% endif %}
			</div>
			<div class="form-group">
				{{ form.intelligence.label(class="form-control-label") }}
				{% if form.intelligence.errors %}
				{{ form.intelligence(class="form-control form-control-lg is-invalid") }}
				<div class="invalid-feedback">
					{% for error in form.intelligence.errors %}
					<span>{{ error }}</span>
					{% endfor %}
				</div>
				{% else %}
				{{ form.intelligence(class="form-control form-control-lg") }}
				{% endif %}
			</div>
			<div class="form-group">
				{{ form.charisma.label(class="form-control-label") }}
				{% if form.charisma.errors %}
				{{ form.charisma(class="form-control form-control-lg is-invalid") }}
				<div class="invalid-feedback">
					{% for error in form.charisma.errors %}
					<span>{{ error }}</span>
					{% endfor %}
				</div>
				{% else %}
				{{ form.charisma(class="form-control form-control-lg") }}
				{% endif %}
			</div>
			<div class="form-group">
				{{ form.experience.label(class="form-control-label") }}
				{% if form.experience.errors %}
				{{ form.experience(class="form-control form-control-lg is-invalid") }}
				<div class="invalid-feedback">
					{% for error in form.experience.errors %}
					<span>{{ error }}</span>
					{% endfor %}
				</div>
				{% else %}
				{{ form.experience(class="form-control form-control-lg") }}
				{% endif %}
			</div>
			<div class="form-group">
				{{ form.actions.label(class="form-control-label") }}
				{% if form.actions.errors %}
				{{ form.actions(class="form-control form-control-lg is-invalid") }}
				<div class="invalid-feedback">
					{% for error in form.actions.errors %}
					<span>{{ error }}</span>
					{% endfor %}
				</div>
				{% else %}
				{{ form.actions(class="form-control form-control-lg") }}
				{% endif %}
			</div>
			<div class="form-group">
				{{ form.proficiencies.label(class="form-control-label") }}
				{% if form.proficiencies.errors %}
				{{ form.proficiencies(class="form-control form-control-lg is-invalid") }}
				<div class="invalid-feedback">
					{% for error in form.proficiencies.errors %}
					<span>{{ error }}</span>
					{% endfor %}
				</div>
				{% else %}
				{{ form.proficiencies(class="form-control form-control-lg") }}
				{% endif %}
			</div>
			<div class="form-group">
				{{ form.abilities.label(class="form-control-label") }}
				{% if form.abilities.errors %}
				{{ form.abilities(class="form-control form-control-lg is-invalid") }}
				<div class="invalid-feedback">
					{% for error in form.abilities.errors %}
					<span>{{ error }}</span>
					{% endfor %}
				</div>
				{% else %}
				{{ form.abilities(class="form-control form-control-lg") }}
				{% endif %}
			</div>
		</fieldset>
		<div class="form-group">
			{{ form.submit(class="btn btn-success") }}
			<a class="btn btn-danger" href="{{ url_for('scene/npc.view_scene_npc', npc_id=npc.id) }}">Cancel</a>
		</div>
	</form>
</div>
{% endblock %}
