{% extends 'base.html' %}
{% block title %}Edit Player Characters of "{{ campaign.name }}"{% endblock %}

{% block content %}
<a class="btn btn-secondary" href="/campaign/location/{{campaign_id}}/create">Create Location 🏗🌄</a>
<form action="" method="POST">
	{{ form.hidden_tag() }}
	<fieldset class="form-group">
		<legend class="border-top border-bottom mb-4">Edit Player Characters of "{{ campaign.name }}"</legend>
		<div class="form-group">
			{{ form.name.label(class="form-control-label") }}
			{% if form.name.errors %}
			{{ form.name(class="form-control form-control-lg is-invalid") }}
			<div class="invalid-feedback">
				{% for error in form.name.errors %}
				<span>{{ error }}</span>
				{% endfor %}
			</div>
			{% else %}
			{{ form.name(class="form-control form-control-lg") }}
			{% endif %}
		</div>
		<div class="form-group">
			{{ form.character1.label(class="form-control-label") }}
			{{ form.character1(class="form-control form-control-lg") }}
			{{ form.character2.label(class="form-control-label") }}
			{{ form.character2(class="form-control form-control-lg") }}
			{{ form.character3.label(class="form-control-label") }}
			{{ form.character3(class="form-control form-control-lg") }}
			{{ form.character4.label(class="form-control-label") }}
			{{ form.character4(class="form-control form-control-lg") }}
			{{ form.character5.label(class="form-control-label") }}
			{{ form.character5(class="form-control form-control-lg") }}
			{{ form.character6.label(class="form-control-label") }}
			{{ form.character6(class="form-control form-control-lg") }}
		</div>
	</fieldset>
	<div class="form-group">
		{{ form.submit(class="btn btn-success") }}
		<a class="btn btn-danger" href="/campaign/view/{{campaign_id}}">Cancel</a>
	</div>
</form>
{% endblock %}
