{% extends 'base.html' %}
{% block title %}{{ campaign.name }}{% endblock %}


{% block script %}
<script>
    function update(npc_id) {
        fetch(
            `${window.location.origin}/scene/npc/get/${npc_id}/card`, {
            method: "GET"
        }
        ).then(function (response) {
            response.json().then(function (data) {
                if ($(`#npc-${npc_id}`).html() == data["name"]) {
                    $(`#npc-${npc_id}`).html($(`#npc-${npc_id}`).html() + '<br>' + data['html']);
                } else {
                    $(`#npc-${npc_id}`).html(data["name"]);
                }
            })
        })
    };
</script>
{% endblock %}


{% block content %}
<h2>Campaign: {{ campaign.name }}</h2>

{# Gamemaster controls #}
{% if is_gamemaster %}
<a style="float:right" href="/campaign/edit/{{campaign.id}}" class="btn">📝</a><br>
<a data-toggle="collapse" href="#location_list" class="btn btn-primary">Show All</a>
<a href="/campaign/location/{{ campaign.id }}/activate" class="btn btn-primary">Set Current Location</a>
{% if active_location %}
<a href="/location/scene/{{ active_location.id }}/activate" class="btn btn-primary">Set Current Scene</a>
{% endif %}
<div id="location_list" class="collapse">
    <ul class="list-group">
        {% for location in locations %}
        <li{% if active_location.id == location.id %} style="background-color: lightblue" {% endif %}>
            Location: <a
                href="{{ url_for('campaign/location.view_campaign_location', location_id=location.id) }}">{{ location.name }}</a>
            <ul>
                {% for scene in scenes[location.id] %}
                <li{% if combat.scene_id == scene.id %} style="font-weight:bold;" {% endif %}>
                    Scene: <a
                        href="{{ url_for('location/scene.view_location_scene', scene_id=scene.id) }}">{{ scene.name }}</a>
                    <ul>
                        {% for npc in npcs[scene.id] %}
                        <li class="list-item"><a href="{{ url_for('scene/npc.edit_scene_npc', npc_id=npc.id) }}"
                                style="float:left">📝</a>
                            <div id="npc-{{npc.id}}" onclick="update({{npc.id}})">{{npc.name}}</div>
                        </li>
                        {% endfor %}
                        <li class="list-item"><a
                                href="{{ url_for('scene/npc.create_scene_npc', scene_id=scene.id) }}{{ next_page }}">
                                ➕ Add New
                                NPC</a></li>
                    </ul>
                    </li>
                    {% endfor %}
                    <li class="list-item"><a
                            href="{{ url_for('location/scene.create_location_scene', location_id=location.id) }}{{ next_page }}">
                            ➕ Add New
                            Scene</a></li>
            </ul>
            </li>
            {% endfor %}
            <li class="list-item"><a
                    href="{{ url_for('campaign/location.create_campaign_location', campaign_id=campaign.id) }}{{ next_page }}">
                    ➕ Add New
                    Location</a></li>
    </ul>
</div>
{% endif %}

{# Location/Scene information #}
{% if active_location %}
<div id="active_location">
    <h4>Current location: {{ active_location.name }}</h4>
    <em>{{active_location.description}}</em>
</div>
{% endif %}
{% if active_scene %}
<div id="active_scene">
    <em>{{active_scene.description}}</em>
</div>
{% endif %}

{# Character cards #}
<div id="campaign_characters">
    <div class="row">
        {% for character in characters %}
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-header">
                    <strong>{{character.name}}</strong> (Level {{character.level}} {{character.class_name}})
                    <a href="/character/edit/{{character.dbid}}" class="btn">📝</a>
                </div>
                <div class="card-body"><a href="{{ url_for('character.view_character', character_id=character.dbid) }}">
                        <img style="float: left; max-width:150px;" class="card-img-top"
                            src="{{url_for('static', filename='img/character/')+character.image}}"
                            alt="{{character.name}}"></a>
                    Proficiency bonus: {{character.prof_bonus}}<br>
                    CON: {{character.constitution}} ({{character.constitution|ability_modifier}})<br>
                    STR: {{character.strength}} ({{character.strength|ability_modifier}})<br>
                    DEX: {{character.dexterity}} ({{character.dexterity|ability_modifier}})<br>
                    WIS: {{character.wisdom}} ({{character.wisdom|ability_modifier}})<br>
                    INT: {{character.intelligence}} ({{character.intelligence|ability_modifier}})<br>
                    CHA: {{character.charisma}} ({{character.charisma|ability_modifier}})
                    <br>Saving throws:{% for throw in character.saving_throws %} {{throw}}{% endfor %}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% if other_characters %}
    <div class="row">
        {% for character in other_characters %}
        {% if character != None %}
        <div class="col-lg-4 col-md-6 mb-4" style="position: relative; text-align: center"><a
                href="/character/view/{{character.id}}"><img style="max-width:150px"
                    src="{{ url_for('static', filename='img/character/')+character.image }}"></a>
            <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-weight: bold;">
                {{character.name}}</div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}


    {% endblock %}
