{% set selected = 1 %}
{% extends 'base.html' %}

{% block title %}
Tabletop Story
{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <div class="row">
            {% if not err %}
            {% if characters|length == 0 %}
            <div class="col col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Welcome to Tabletop Story!</h5>
                        <p class="card-text">If you're new to D&D, this is a great way to learn how to play.
                            <a href="/rules">Skim the rules</a> and start coming up with a backstory 🎲
                        </p>
                        <a href="/character/create" class="btn btn-primary">Create your first character</a>
                    </div>
                </div>
            </div>
            {% else %}
            <h4>Your Characters:</h4>
            {% for character in characters %}
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <a href="/character/view/{{character.dbid}}">
                        <img class="card-img-top"
                            src="{{url_for('static', filename='/img/character/')+character.image}}"
                            alt="{{character.name}}">
                    </a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="/character/view/{{character.dbid}}">{{character.name}}</a>
                        </h4>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">
                            <a href="/character/edit/{{character.dbid}}">Edit this character</a>
                        </small>
                    </div>
                </div>
            </div>
            {% endfor %}
            {# Create New Character #}
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <div class="card-body text-center">
                        <a href="/character/create" class="btn btn-primary">Create New Character</a>
                    </div>
                </div>
            </div>
            {% endif %}{% endif %}
        </div>
        <!-- /.row -->

    </div>

</div>
{% endblock %}
