{% set selected = 1 %}
{% extends 'base.html' %}

{% block title %}
Tabletop Story
{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <div class="row">
            {% if characters|length == 0 %}
            <a href="">Create your first character on Tabletop Story!</a>
            {% endif %}
            {% for character in characters %}
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <a href="#">
                        <img class="card-img-top"
                            src="{{url_for('static', filename='/img/character/')+character.image}}"
                            alt="{{character.name}}">
                    </a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">{{character.name}}</a>
                        </h4>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">
                            <a href="#">Edit this character</a>
                        </small>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- /.row -->

    </div>
    <!-- /.col-lg-9 -->

</div>
<!-- /.row -->
{% endblock %}
