{% extends 'base.html' %}
{% block title %}Edit {{character.name}}'s Inventory{% endblock %}

{% block content %}
{% if message %}
<div class="alert alert-info">
	{{message|safe}}
</div>
{% endif %}
<form action="" method="POST">
	{{ add_form.hidden_tag() }}
	<fieldset class="form-group form-horizontal">
		<legend class="border-top border-bottom mb-4">Edit {{character.name}}'s Inventory</legend>
		<div class="form-group form-horizontal">
			{{ add_form.new_item.label(class="form-control-label") }}
			{{ add_form.new_item(class="form-control form-control-sm") }}
			{{ add_form.submit_add(class="btn btn-success") }}
		</div>
		<div class="form-group">
			{{ remove_form.remove_item.label(class="form-control-label") }}
			{{ remove_form.remove_item(class="form-control form-control-sm") }}
			{{ remove_form.submit_remove(class="btn btn-danger") }}
		</div>
	</fieldset>
</form>
{% endblock %}
