{% extends 'base.html' %}
{% block title %}Edit {{ character.name }}{% endblock %}

{% block content %}
<div class="col">
    <div class="row">
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <a href="#">
                    <img class="card-img-top" src="{{url_for('static', filename='/img/character/')+character.image}}"
                        alt="{{character.name}}">
                </a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#">{{character.name}}</a>
                    </h4>
                </div>
                <div class="card-footer">
                    <small class="text-muted">
                        Age: {{character.age}} &bullet; Gender: {{character.gender}}
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
