{% extends 'base.html' %}
{% block title %}{{ character.name }}{% endblock %}

{% block meta %}
<meta property="og:title" content="{{character.name}}">
<meta property="og:type" content="website">
<meta property="og:description" content="{{character.description}}">
<meta property="og:image" content="{{ url_root }}{{ url_for('static', filename='img/character/')+character_img }}">
<meta property="og:url" content="{{ url_root }}{{ url_for('.view_character', character_id=character_id) }}">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-4 col-md-6 mb-4">
        <a class="btn btn-primary" href="/character/view/{{character_id}}/share">Share
            ↗️</a>
        <div class="card h-100">
            <div class="card-header">
                {{character.name}}
                {% if can_edit %}
                <a href="/character/edit/{{character_id}}/decorative" class="btn">📝</a>
                {% endif %}
            </div>
            <div class="card-body">
                <img class="card-img-top" src="{{url_for('static', filename='img/character/')+character_img}}"
                    alt="{{character.name}}">
                <p>Alignment: {{character.alignment|alignment}}</p>
                <p>Age: {{character.age}}</p>
                <p>Gender: {{character.gender}}</p>
                <p>Description: {{character.description}} <a data-toggle="collapse" href="#bio">...</a>
                    <span class="collapse" id="bio">
                        {{character.biography}}
                    </span>
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 mb-4">
        {% if can_edit %}
        <a style="float:right" href="/character/edit/{{character_id}}/ability" class="btn">📝</a>
        {% endif %}
        <h4><strong>Level {{character.level}} {{character.class_name}}</strong></h4>
        <p>
            <strong>AC:</strong> {{character.armour_class}}<br>
            <strong>HP:</strong>&nbsp;{{character.hp}}/{{character.max_hp}}
        </p>
        <pre>CON: {{character.constitution}} ({{character.constitution|ability_modifier}})
STR: {{character.strength}} ({{character.strength|ability_modifier}})
DEX: {{character.dexterity}} ({{character.dexterity|ability_modifier}})
WIS: {{character.wisdom}} ({{character.wisdom|ability_modifier}})
INT: {{character.intelligence}} ({{character.intelligence|ability_modifier}})
CHA: {{character.charisma}} ({{character.charisma|ability_modifier}})</pre>
        <p>EXP to next level: {{character.experience.to_next_level}}<br>Saving
            throws:{% for throw in character.saving_throws %} {{throw}}{% endfor %}</p>
    </div>
    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
            <div class="card-body">
                {% if can_edit %}
                <a style="float:right" href="/character/edit/{{character_id}}/features" class="btn">📝</a>
                {% endif %}
                <p><strong>Class Features:</strong>
                <ul>
                    {% for value in character.class_features.values() %}
                    <li>{% if character.class_features_enabled[loop.index0] %}
                        <a data-toggle="collapse" href="#{{ value['name']|url_safe }}">{{ value["name"] }}</a>{% else %}
                        <del><a data-toggle="collapse"
                                href="#{{ value['name']|url_safe }}">{{ value["name"] }}</a></del>{% endif %}
                        <div class="collapse" id="{{ value['name']|url_safe }}">
                            <span class="text-muted">Unlocked at Level {{ value["level"] }}</span>
                            <ul>
                                {% for line in value["desc"] %}
                                <li>{{ line }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
            <div class="card-body">
                {% if can_edit %}
                <a style="float:right" href="/character/edit/{{character_id}}/inventory" class="btn">📝</a>
                {% endif %}
                <p><strong>Inventory:</strong>
                    {% if can_edit and character.player_options["starting_equipment"] %}
                    <br>Click the edit button to choose starting equipment
                    {% endif %}
                <ol>
                    {% for item in character.inventory %}
                    <li>
                        {% if item["equipment_category"]["index"] == "armor" %}
                        {% if item["armor_category"] != "Shield" %}
                        {{ item["armor_category"] }}
                        {% endif %}
                        {% endif %}
                        {{ item["name"] }}
                        {% if item["equipment_category"]["index"] == "armor" %}
                        {% if item["armor_category"] != "Shield" %}
                        Armour
                        <small
                            class="text-muted">(AC{{ item["armor_class"]["base"] }}{% if item["armor_class"]["dex_bonus"] %}+{{character.dexterity|ability_modifier}}{% endif %})
                            {% if item["stealth_disadvantage"] %}<span
                                style="color:darkred">-stealth</span>{% endif %}</small>
                        {% else %}
                        <small class="text-muted">
                            (AC+{{item["armor_class"]["base"]}})
                        </small>
                        {% endif %}
                        {% endif %}
                        {% if item["equipment_category"]["index"] == "weapon" %}
                        <small class="text-muted">
                            ({{ item["damage"]["damage_dice"] }} {{ item["damage"]["damage_type"]["name"] }}) (
                            {% for prop in item["properties"] %}{% if prop["index"] != "monk" %}{{ prop["name"] }}
                            {%endif%}{%endfor%})
                            {% if "throw_range" in item %} (Throw range:
                            {{ item["throw_range"]["normal"] }}/{{ item["throw_range"]["long"] }})
                            {% endif %}
                        </small>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ol>
                </p>
            </div>
        </div>
    </div>
    {% if character["class_spellcasting"] %}
    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
            <div class="card-body">
                {% if can_edit %}
                <a style="float:right" href="/character/edit/{{character_id}}/spellcasting" class="btn">📝</a>
                {% endif %}
                <p><strong>Spell Save DC: {{ spell_save_dc }}</strong></p>
                <p><strong>Spells Known:</strong>
                    {% if character.spells_known == None %}
                    <br>This character doesn't have any spells yet! ✨
                    {% elif 0 in character.spells_known %}
                <ol>Cantrips:
                    {% for cantrip in character.spells_known[0] %}
                    <li>
                        <a data-toggle="collapse" href="#{{ cantrip }}">{{spells[cantrip]["name"]}}</a>
                        <div class="collapse" id="{{ cantrip }}">
                            <ul>
                                <li>{{spells[cantrip]["desc"][0]}} <small><a href="/spells/view/{{cantrip}}">(more
                                            info)</a></small></li>
                            </ul>
                        </div>
                    </li>
                    {% endfor %}
                </ol>
                {% endif %}
                {% for spell_level in range(1, spell_levels+1) %}
                <ol>Level {{spell_level}} Spells:
                    {% for spell_index in character.spells_known[spell_level] %}
                    <li>
                        <a data-toggle="collapse" href="#{{ spell_index }}">{{spells[spell_index]["name"]}}</a>
                        <div class="collapse" id="{{ spell_index }}">
                            <ul>
                                <li>{{spells[spell_index]["desc"][0]}} <small><a
                                            href="/spells/view/{{spell_index}}">(more info)</a></small></li>
                            </ul>
                        </div>
                    </li>
                    {% endfor %}
                </ol>
                {% endfor %}
                </p>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <p><strong>Proficiencies:</strong>
                <ol>
                    {% for value in character.proficiencies.values() %}
                    <li>{{value["name"]}}</li>
                    {% endfor %}
                </ol>
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
            <div class="card-body">
                {% if can_edit %}
                <a style="float:right" href="/character/edit/{{character_id}}/skills" class="btn">📝</a>
                {% endif %}
                <strong>Skills:</strong>
                <ul>
                    <li><strong>Passive Perception:</strong> {{ passive_perception }}</li>
                    <li><strong>STR:</strong> Athletics {{skills["athletics"]}}</li>
                    <li><strong>DEX:</strong> Acrobatics {{skills["acrobatics"]}}<ul>
                            <li>Sleight of Hand {{skills["sleight-of-hand"]}}</li>
                            <li>Stealth {{skills["stealth"]}}</li>
                        </ul>
                    </li>
                    <li><strong>INT:</strong> Arcana {{skills["arcana"]}}<ul>
                            <li>History {{skills["history"]}}</li>
                            <li>Investigation {{skills["investigation"]}}</li>
                            <li>Nature {{skills["nature"]}}</li>
                            <li>Religion {{skills["religion"]}}</li>
                        </ul>
                    </li>
                    <li><strong>WIS:</strong> Animal Handling {{skills["animal-handling"]}}<ul>
                            <li>Insight {{skills["insight"]}}</li>
                            <li>Medicine {{skills["medicine"]}}</li>
                            <li>Perception {{skills["perception"]}}</li>
                            <li>Survival {{skills["survival"]}}</li>
                        </ul>
                    </li>
                    <li><strong>CHA:</strong> Deception {{skills["deception"]}}<ul>
                            <li>Intimidation {{skills["intimidation"]}}</li>
                            <li>Performance {{skills["performance"]}}</li>
                            <li>Persuasion {{skills["persuasion"]}}</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
