{% extends 'base.html' %}
{% block title %}View {{ character.name }}{% endblock %}

{% block content %}
<div class="row">&nbsp;</div>
<div class="row">
    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
            <div class="card-header">
                EXP to next level: {{character.experience.to_next_level}}
            </div>
            <div class="card-body">
                <h3 class="card-title ">
                    {{character.name}}
                </h3>
                <img class="card-img-top" src="{{url_for('static', filename='/img/character/')+character.image}}"
                    alt="{{character.name}}">
                <p>{{character.description}}<br>
                    CON: {{character.constitution}}<br>
                    STR: {{character.strength}}<br>
                    DEX: {{character.dexterity}}<br>
                    WIS: {{character.wisdom}}<br>
                    INT: {{character.intelligence}}<br>
                    CHA: {{character.charisma}}</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 mb-4">
        <h4><strong>{{character.alignment|alignment}} Level {{character.level}} {{character.class_name}}</strong></h4>
        <p>Age: {{character.age}}<br>Gender: {{character.gender}}</p>
        <p>{{character.biography}}</p>
    </div>
    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <p><strong>Class Features:</strong>
                <ul>
                    {% for value in character.class_features.values() %}
                    <li>
                        <a data-toggle="collapse" href="#{{ value['name']|url_safe }}">{{ value["name"] }}</a>
                        <div class="collapse" id="{{ value['name']|url_safe }}">
                            <span class="text-muted">Unlocked at Level {{ value["level"] }}</span>
                            <ul>
                                {% for line in value["desc"] %}
                                <li>{{ line }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <p><strong>Inventory:</strong>
                <ol>
                    {% for item in character.inventory %}
                    <li>{{item["name"]}}</li>
                    {% endfor %}
                </ol>
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <p><strong>Proficiencies:</strong>
                <ol>
                    {% for value in character.proficiencies.values() %}
                    <li>{{value["name"]}}</li>
                    {% endfor %}
                </ol>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
