{% set selected = 2 %}
{% extends 'base.html' %}
{% block title %}About Us{% endblock %}

{% block content %}
<div class="col">
    <div class="row row-md-4 mb-4">
        <p>The goal of Tabletop Story is to help new players get started playing Dungeons & Dragons. It can be
            intimidating managing all the details when first learning to play. Our character sheets fill in the details
            for you, so you don't have to track class features, inventory, or experience points.</p>
        <p>This website is free software made by <a href="https://rainey.tech">Brianna Rainey</a> and covered by the <a
                href="/license/mit">"MIT" license</a>. You can contribute to
            the code, request features, or report bugs <a href="https://github.com/tassaron2/tabletop-story">on
                GitHub</a>.</p>
        <p>The name "Dungeons & Dragons" is a copyright of Wizards of the Coast. The <a href="/rules">5e System
                Reference Document</a> is covered by the <a href="/license/ogl">Open Game License v1.0a</a>.</p>
    </div>
</div>
{% endblock %}
