{% set selected = 2 %}
{% extends 'base.html' %}
{% block title %}About Us{% endblock %}

{% block content %}
<div class="col">
    <div class="row row-md-4 mb-4">
        The goal of Tabletop Story is to help new players get started playing Dungeons & Dragons. It can be intimidating
        managing all the details when first learning to play. Our character sheets fill in the details for you, so you
        don't have to track class features, inventory, or experience points.
    </div>
</div>
{% endblock %}
