<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="buy locally grown produce online">
    <meta name="author" content="Tabletop Story">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

    <title>{% block title %}{% endblock %}</title>

</head>

<body>
    <!-- Navigation -->
    <nav class="nav navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-left navbar-brand" href="/">
                <img src="{{ url_for('static', filename='img/logo.png') }}" style="max-width: 76px; max-height: 100%;"
                    alt="Logo">
                Tabletop Story</a>

            <button class="navbar-toggler px-1 ml-auto mr-1" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    {% if selected == 1 %}
                    <li class="nav-item active">
                        <a class="nav-link" href="/">
                            Home
                            <span class="sr-only">
                                (current)
                            </span>
                        </a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/">
                            Home
                        </a>
                    </li>
                    {% endif %}
                    {% if selected == 2 %}
                    <li class="nav-item active">
                        <a class="nav-link" href="/about">
                            About
                            <span class="sr-only">
                                (current)
                            </span>
                        </a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/about">
                            About
                        </a>
                    </li>
                    {% endif %}
                    {% if selected == 3 %}
                    <li class="nav-item active">
                        <a class="nav-link" href="/rules">
                            How to Play
                            <span class="sr-only">
                                (current)
                            </span>
                        </a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/rules">
                            How to Play
                        </a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <div class="dropdown mr-2">
                            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {% if not logged_in %}
                                Sign Up
                                {% else %}
                                Account
                                {% endif %}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                {% if not logged_in %}
                                <a class="dropdown-item" href="/account/register">Sign Up</a>
                                <a class="dropdown-item" href="/account/login">Log In</a>
                                {% else %}
                                <a class="dropdown-item" href="/account/profile">Edit Account</a>
                                <a class="dropdown-item" href="/account/logout">Log Out</a>
                                {% endif %}
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
    <div class="my-5 py-3 container">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}"> {{ message }} </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="footer bg-dark fixed-bottom">
        <div class="container">
            <p class="row-sm-6 text-center text-white">
                <small>Tabletop Story &nbsp;&bullet;&nbsp;
                    <a style="color:white;" href="https://rainey.tech">
                        Website made by Brianna Rainey
                    </a>
                </small></p>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>

</body>

</html>
